* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f6f8fc;
    transition: 0.3s;
}

#change-theme {
    display: none;
}

i.bi-moon {
    font-size: 25px;
    width: 300px;
}

i.bi-sun {
    font-size: 25px;
    width: 300px;
}

.bi-sun {
    display: block;
}
.bi-moon {
    display: none;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 20px black;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

/*Dark Theme */
.dark-mode {
    background-color: rgb(53, 52, 52);
    color: white;
}
.dark-mode .content {
    background-color: green;
}

.dark-mode .bi-sun {
    display: none;
}
.dark-mode .bi-moon {
    display: block;
}
    
